html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

.bg-yellow {
  background-color: #F0D43A;
}

.bg-blue {
  background-color: #22B2DA;
}
.bg-green {
  background-color: #40A798;
}

.bg-rice {
  background-color: #DFE0D4;
}

.bg-black {
  background-color: #4a4a4a;
}

.bg-red {
  background-color: #F23557;
}


/* main page */

.list-books-title {
  padding: 1rem;
  background: #4a4a4a;
  border-radius: 0.3rem;
}
@media screen and (max-width: 780px){
  .list-books-title {
    padding: 1rem 3rem;
    text-align: center;
  }
}

.list-books-content {
  padding: 3rem 0;
}

.bookshelf {
  padding: 0 1rem 1.5rem;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 1.5rem 2rem;
  }
}

.bookshelf-title {
  padding: 0.5rem 0 0.5rem 3rem;
  border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
}
.bookshelf-books {
  text-align: center;
}

/* search page */
.header-search-input .header-search-clear{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
  z-index: 100;
  color: #dbdbdb;
}
.header-search-input .header-search-clear:hover {
  color: #4a4a4a;
}

/* books card */

.book {
  padding: 10px;
  position: relative;
  top: 0;  
  width: 148px;
  margin: 0 auto;
  border-radius: 0.6rem;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.1s;
  cursor: pointer;
}

.book:hover {
  top: -3px;
  box-shadow: 0 0 7px 7px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
}

.book img {
  margin: 0 auto;
  width: 128px;
  height: 193px;
  border-radius: 0.6rem;
  background-color: #eee;
}
.book .card-content {
  padding: 0.2rem;
}
.book .book-title {
  display: block;
  height: 40px;
  overflow: hidden;
}

.book-control {
  cursor: pointer;
  position: absolute;
  right: -15px;
  bottom: -15px;
  border-radius: 50%;
}
.dropdown-trigger button{
  color: #fff;
  border-radius: 50%;
}
.dropdown-trigger button:hover, .dropdown-trigger button:focus{
  color: #fff;
  border-color: #dbdbdb;
}
.dropdown-content .dropdown-item:first-child {
  border-bottom: 1px solid #dbdbdb;
}
.dropdown-menu {
  min-width: 0; 
}
a.dropdown-item {
  padding-right: 1rem;
}
.dropdown-item.disabled {
  cursor: default;
}
.dropdown-item.disabled:hover {
  background-color: #ffffff;
}