html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 1rem;
  background: #4a4a4a;
}
@media screen and (max-width: 780px){
  .list-books-title {
    padding: 1rem 3rem;
    text-align: center;
  }
}

.list-books-content {
  padding: 3rem 0;
}

.bookshelf {
  padding: 0 1rem 1.5rem;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 1.5rem 2rem;
  }
}

.bookshelf-title {
  padding: 0.5rem 0 0.5rem 3rem;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: 0.1rem 0.1rem 0.5rem #4a4a4a;
}
.bookshelf-books {
  text-align: center;
}

/* search page */

.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

/* books card */

.book {
  padding: 0.1rem;
  position: relative;
  top: 0;  
  width: 128px;
  margin: 0 auto;
  border-radius: 0.6rem;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.1s;
  cursor: pointer;
}

.book:hover {
  top: -3px;
  box-shadow: 0 0 7px 7px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
}

.book img {
  width: 128px;
  height: 193px;
  border-radius: 0.6rem 0.6rem 0 0;
  background-color: #eee;
}
.card-content {
  padding: 0.2rem;
}

.book-control {
  cursor: pointer;
  position: absolute;
  right: -15px;
  bottom: -15px;
  border-radius: 50%;
}
.dropdown-trigger button{
  color: #fff;
  border-radius: 50%;
}
.dropdown-trigger button:hover, .dropdown-trigger button:focus{
  color: #fff;
  border-color: #dbdbdb;
}
.dropdown-content a:first-child {
  border-bottom: 1px solid #dbdbdb;
}
